<div class="manage-container">
    <div class="header">
        <h1>Manage Configuration: DemoTT</h1>
    </div>

    <div class="tabs">
        <button class="tab" routerLink="teachers" routerLinkActive="active">Teachers</button>
        <button class="tab" routerLink="subjects" routerLinkActive="active">Subjects</button>
        <button class="tab" routerLink="classes" routerLinkActive="active">Classes</button>
    </div>

    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>